@{
    ViewData["Title"] = "Home Page";
}
<div class="m-3">
    <h1>WELCOME TO STUDENT PORTAL</h1>
</div>
<div class="bg-image"
    style="background-image: url('https://images.pexels.com/photos/256455/pexels-photo-256455.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); height: 80vh; ">
   </div>
